header {
    height: 100px;
    display: flex;
}

.header img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.container {
    width: 900px;
    margin: auto;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-right: 20px;
}

.home {
    background-color: aqua;
}

.contact {
    background-color: blue;
}

.jadwal {
    background-color: blueviolet;
}

.jurusan {
    background-color: aquamarine;
}

.tentang {
    background-color: chartreuse;
}

.sejarah {
    background-color: cyan;
}